## Wind Direction:

In [1]:
import pandas as pd
from sqlalchemy import create_engine

## Store CSV into DataFrame

In [2]:
city_file = "../Resources/city_attributes.csv"
city_data_df = pd.read_csv(city_file)
city_data_df.head()

            City        Country   Latitude   Longitude
0      Vancouver         Canada  49.249660 -123.119339
1       Portland  United States  45.523449 -122.676208
2  San Francisco  United States  37.774929 -122.419418
3        Seattle  United States  47.606209 -122.332069
4    Los Angeles  United States  34.052231 -118.243683

In [9]:
wind_direction_file = "../Resources/wind_direction_pivot.csv"
wind_direction_data_df = pd.read_csv(wind_direction_file)
wind_direction_data_df.head()

   Year       datetime           city  wind_direction
0  2016  1/1/2016 0:00      Vancouver             280
1  2016  1/1/2016 0:00       Portland              85
2  2016  1/1/2016 0:00  San Francisco             188
3  2016  1/1/2016 0:00        Seattle              27
4  2016  1/1/2016 0:00    Los Angeles             128

In [10]:
 # Create a filtered dataframe from specific columns
city_mapping_cols = ['City', 'Country', 'Latitude','Longitude']
city_transformed= city_data_df[city_mapping_cols].copy()

# Rename the column headers
city_transformed = city_transformed.rename(columns={'City':'city', 'Country':'country', 'Latitude':'latitude','Longitude':'longitude'})

# city_transformed.set_index("city",inplace=True)
city_transformed.head()

            city        country   latitude   longitude
0      Vancouver         Canada  49.249660 -123.119339
1       Portland  United States  45.523449 -122.676208
2  San Francisco  United States  37.774929 -122.419418
3        Seattle  United States  47.606209 -122.332069
4    Los Angeles  United States  34.052231 -118.243683

In [12]:
  # Create a filtered dataframe from specific columns
wind_direction_mapping_cols = ['Year', 'datetime', 'city','wind_speed']
wind_direction_transformed= wind_direction_data_df[wind_direction_mapping_cols].copy()
# Rename the column headers
wind_direction_transformed = wind_direction_transformed.rename(columns={'Year':'year', 'datetime':'datetime', 'city':'city','wind_speed':'wind_speed'})

# wind_direction_transformed.set_index("wind_direction",inplace=True)
wind_direction_transformed.head()

KeyError: "['wind_speed'] not in index"

## Connect to local database

In [ ]:
rds_connection_string = "postgres:postgres@localhost:5432/weather"
engine = create_engine(f'postgresql://{rds_connection_string}')

## Check for tables

In [ ]:
engine.table_names()

## Use pandas to load csv converted DataFrame into database

In [ ]:
city_transformed.to_sql(name='city', con=engine, if_exists='append', index=False)

In [ ]:
wind_speed_transformed.to_sql(name='wind_speed', con=engine, if_exists='append', index=False)

## Confirm data has been added by querying the customer_name tableÂ¶
      NOTE: can also check using pgAdmin

In [ ]:
pd.read_sql_query('select * from city', con=engine).head()

In [ ]:
pd.read_sql_query('select * from wind_speed', con=engine).head()