## Wind:

In [1]:
import pandas as pd
from sqlalchemy import create_engine

## Store CSV into DataFrame

In [2]:
city_file = "../Resources/city_attributes.csv"
city_data_df = pd.read_csv(city_file)
city_data_df.head()

            City        Country   Latitude   Longitude
0      Vancouver         Canada  49.249660 -123.119339
1       Portland  United States  45.523449 -122.676208
2  San Francisco  United States  37.774929 -122.419418
3        Seattle  United States  47.606209 -122.332069
4    Los Angeles  United States  34.052231 -118.243683

In [3]:
wind_speed_file = "../Resources/wind_speed_pivot.csv"
wind_speed_data_df = pd.read_csv(wind_speed_file)
wind_speed_data_df.head()

   Year       datetime           city  wind_speed
0  2016  1/1/2016 0:00      Vancouver           1
1  2016  1/1/2016 0:00       Portland           9
2  2016  1/1/2016 0:00  San Francisco           3
3  2016  1/1/2016 0:00        Seattle           2
4  2016  1/1/2016 0:00    Los Angeles           3

In [4]:
 # Create a filtered dataframe from specific columns
city_mapping_cols = ['City', 'Country', 'Latitude','Longitude']
city_transformed= city_data_df[city_mapping_cols].copy()

# Rename the column headers
city_transformed = city_transformed.rename(columns={'City':'city', 'Country':'country', 'Latitude':'latitude','Longitude':'longitude'})

# city_transformed.set_index("city",inplace=True)
city_transformed.head()

            city        country   latitude   longitude
0      Vancouver         Canada  49.249660 -123.119339
1       Portland  United States  45.523449 -122.676208
2  San Francisco  United States  37.774929 -122.419418
3        Seattle  United States  47.606209 -122.332069
4    Los Angeles  United States  34.052231 -118.243683

In [5]:
  # Create a filtered dataframe from specific columns
wind_speed_mapping_cols = ['Year', 'datetime', 'city','wind_speed']
wind_speed_transformed= wind_speed_data_df[wind_speed_mapping_cols].copy()
# Rename the column headers
wind_speed_transformed = wind_speed_transformed.rename(columns={'Year':'year', 'datetime':'datetime', 'city':'city','wind_speed':'wind_speed'})

# wind_speed_transformed.set_index("wind_speed",inplace=True)
wind_speed_transformed.head()

   year       datetime           city  wind_speed
0  2016  1/1/2016 0:00      Vancouver           1
1  2016  1/1/2016 0:00       Portland           9
2  2016  1/1/2016 0:00  San Francisco           3
3  2016  1/1/2016 0:00        Seattle           2
4  2016  1/1/2016 0:00    Los Angeles           3

## Connect to local database

In [8]:
rds_connection_string = "postgres:postgres@localhost:5432/weather"
engine = create_engine(f'postgresql://{rds_connection_string}')

ModuleNotFoundError: No module named 'psycopg2'

## Check for tables

In [9]:
engine.table_names()

NameError: name 'engine' is not defined

## Use pandas to load csv converted DataFrame into database

In [10]:
city_transformed.to_sql(name='city', con=engine, if_exists='append', index=False)

NameError: name 'engine' is not defined

In [11]:
wind_speed_transformed.to_sql(name='wind_speed', con=engine, if_exists='append', index=False)

NameError: name 'engine' is not defined

## Confirm data has been added by querying the customer_name table
     NOTE: can also check using pgAdmin

In [12]:
pd.read_sql_query('select * from city', con=engine).head()

NameError: name 'engine' is not defined

In [13]:
pd.read_sql_query('select * from wind_speed', con=engine).head()

NameError: name 'engine' is not defined